# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

../.idea
.idea
*.iml
*.mwb.bak
logs.txt

config.json

# the unpacked Media.pk2 file I need to extract the textdata for the new database
new-db/Media

agent-server/unhandled_packets.txt
agent-server/server
agent-server-binaries
gateway-server-binaries

game_client_binaries/Silkroad

unhandled_packets.txt
